<mat-card>
  <mat-form-field>
    <p>Please type in an Title</p>
    <textarea MatFormField rows="6" [(ngModel)]="enteredValue" ></textarea>
    <p>Please type in an Author</p>
    <textarea MatFormField rows="6" [(ngModel)]="enteredValue1" ></textarea>
    <p>Please type in your Post</p>
    <textarea MatFormField rows="6" [(ngModel)]="enteredValue2" ></textarea>
</mat-form-field>
  <button mat-raised-button color="primary" (click)="onAddPost()">Save Post</button>
</mat-card>

<mat-card>
  <p>Title: {{ title }}</p>
  <p>Author: {{ author }}</p>
  <p>Post: {{ blogInput }}</p>

</mat-card>
